# My Jupyter Notebook on IBM Watson Studio

**Salvatore Pannozzo Capodiferro**   
Senior Software Engineer

*I'm interested in data science because is my passion and I like to solve problems with AI helping people to take better and accurate decisions for their business*

### I'm going to show an overview on data about weather with Python Pandas

In [1]:
# The code was removed by Watson Studio for sharing.

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

<div>
    <hr />
    <q>you were not made to live like brutes but to follow virtue and knowledge</q>
    <div>check my notebook repository on <a href="https://github.com/spannozzo/my_notebooks" target="_blank">github</a></div>
</div>